flows.json
[{"id":"c7725e94.398e4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"546134e7.bcf18c","type":"ui_group","z":"","name":"Resale Price Prediction","tab":"3bd859a3.f732e6","order":1,"disp":true,"width":"6","collapse":false},{"id":"3bd859a3.f732e6","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"de96ddbc.3bc11","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"494ba45c.84e86c","type":"function","z":"c7725e94.398e4","name":"Pre Token","func":"global.set(\"n\",msg.payload.n)\nglobal.set(\"at\",msg.payload.at)\nglobal.set(\"vt\",msg.payload.vt)\nglobal.set(\"yreg\",msg.payload.yreg)\nglobal.set(\"gb\",msg.payload.gb)\nglobal.set(\"pp\",msg.payload.pp)\nglobal.set(\"md\",msg.payload.md)\nglobal.set(\"km\",msg.payload.km)\nglobal.set(\"mr\",msg.payload.mr)\nglobal.set(\"ft\",msg.payload.ft)\nglobal.set(\"bd\",msg.payload.bd)\nglobal.set(\"nrd\",msg.payload.nrd)\nvar apikey=\"yYA0yi9Guo_TtP4oEijV6o_uyfXqVpjflXt841o93YqY\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":160,"y":380,"wires":[["2cb6e345.f2061c"]]},{"id":"2cb6e345.f2061c","type":"http request","z":"c7725e94.398e4","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":260,"wires":[["8fde3051.b3d07"]]},{"id":"8bc957dc.dc7b08","type":"debug","z":"c7725e94.398e4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":830,"y":160,"wires":[]},{"id":"8fde3051.b3d07","type":"function","z":"c7725e94.398e4","name":"Pre Prediction","func":"var n = global.get('n')\nvar at = global.get('at')\nvar vt = global.get('vt')\nvar yreg = global.get('yreg')\nvar gb= global.get('gb')\nvar pp = global.get('pp')\nvar md = global.get('md')\nvar km = global.get('km')\nvar mr = global.get('mr')\nvar ft = global.get('ft')\nvar bd = global.get('bd')\nvar nrd = global.get('nrd')\nvar token=msg.payload.access_token\nvar instance_id=\"61475378-941c-4c63-925e-7fd5a836f964\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"Name\", \"Abtest\", \"Vehicle Type\", \"Year Of Registration\", \"Gearbox\", \"Power\", \"Model\", \"Kilometer\", \"Month Of Registration\", \"Fuel Type\", \"Brand\", \"Not Repaired Damage\"], \"values\": [[n,at,vt,yreg,gb,pp,md,km,mr,ft,bd,nrd]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":440,"wires":[["cf6f3f97.21452"]]},{"id":"cf6f3f97.21452","type":"http request","z":"c7725e94.398e4","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/v4/deployments/814b3d35-8c30-4d0f-b2a8-99dbcc6cf217/predictions","tls":"","persist":false,"proxy":"","authType":"","x":550,"y":360,"wires":[["47c8fbd1.01a0b4"]]},{"id":"4314ae08.07eea","type":"ui_form","z":"c7725e94.398e4","name":"","label":"","group":"546134e7.bcf18c","order":1,"width":0,"height":0,"options":[{"label":"Name","value":"n","type":"text","required":true,"rows":null},{"label":"Abtest","value":"at","type":"text","required":true,"rows":null},{"label":"Vehicle Type","value":"vt","type":"text","required":true,"rows":null},{"label":"Year Of Registration","value":"yor","type":"number","required":true,"rows":null},{"label":"Gearbox","value":"gb","type":"text","required":true,"rows":null},{"label":"Power","value":"pp","type":"number","required":true,"rows":null},{"label":"Model","value":"md","type":"text","required":true,"rows":null},{"label":"Kilometer","value":"km","type":"number","required":true,"rows":null},{"label":"Month Of Registration","value":"mr","type":"number","required":true,"rows":null},{"label":"Fuel Type","value":"ft","type":"text","required":true,"rows":null},{"label":"Brand","value":"bd","type":"text","required":true,"rows":null},{"label":"Not Repaired Damage","value":"nrd","type":"text","required":true,"rows":null}],"formValue":{"n":"","at":"","vt":"","yor":"","gb":"","pp":"","md":"","km":"","mr":"","ft":"","bd":"","nrd":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":90,"y":480,"wires":[["494ba45c.84e86c"]]},{"id":"ecf8b6c1.19ca38","type":"ui_text","z":"c7725e94.398e4","group":"546134e7.bcf18c","order":2,"width":0,"height":0,"name":"","label":"Price","format":"{{msg.payload}}","layout":"row-spread","x":810,"y":380,"wires":[]},{"id":"47c8fbd1.01a0b4","type":"function","z":"c7725e94.398e4","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":260,"wires":[["ecf8b6c1.19ca38","8bc957dc.dc7b08"]]}]