flows.json
[{"id":"65ad3edf.ea4b6","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"be209dd0.d074e","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"546134e7.bcf18c","type":"ui_group","z":"","name":"Resale Price Prediction","tab":"3bd859a3.f732e6","order":1,"disp":true,"width":"6","collapse":false},{"id":"3bd859a3.f732e6","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"de96ddbc.3bc11","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"1138d8fd.f1cbf7","type":"function","z":"be209dd0.d074e","name":"Pre Token","func":"global.set(\"n\",msg.payload.n)\nglobal.set(\"at\",msg.payload.at)\nglobal.set(\"vt\",msg.payload.vt)\nglobal.set(\"yreg\",msg.payload.yreg)\nglobal.set(\"gb\",msg.payload.gb)\nglobal.set(\"pp\",msg.payload.pp)\nglobal.set(\"md\",msg.payload.md)\nglobal.set(\"km\",msg.payload.km)\nglobal.set(\"mr\",msg.payload.mr)\nglobal.set(\"ft\",msg.payload.ft)\nglobal.set(\"bd\",msg.payload.bd)\nglobal.set(\"nrd\",msg.payload.nrd)\nvar apikey=\"yYA0yi9Guo_TtP4oEijV6o_uyfXqVpjflXt841o93YqY\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":220,"y":240,"wires":[["13bf4273.abed6e"]]},{"id":"13bf4273.abed6e","type":"http request","z":"be209dd0.d074e","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":370,"y":180,"wires":[["59561302.e97bbc"]]},{"id":"cbc85592.d3d458","type":"debug","z":"be209dd0.d074e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":930,"y":120,"wires":[]},{"id":"59561302.e97bbc","type":"function","z":"be209dd0.d074e","name":"Pre Prediction","func":"var n = global.get('n')\nvar at = global.get('at')\nvar vt = global.get('vt')\nvar yreg = global.get('yreg')\nvar gb= global.get('gb')\nvar pp = global.get('pp')\nvar md = global.get('md')\nvar km = global.get('km')\nvar mr = global.get('mr')\nvar ft = global.get('ft')\nvar bd = global.get('bd')\nvar nrd = global.get('nrd')\nvar token=msg.payload.access_token\nvar instance_id=\"61475378-941c-4c63-925e-7fd5a836f964\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"Name\", \"Abtest\", \"Vehicle Type\", \"Year Of Registration\", \"Gearbox\", \"Power\", \"Model\", \"Kilometer\", \"Month Of Registration\", \"Fuel Type\", \"Brand\", \"Damage\"], \"values\": [[n,at,vt,yreg,gb,pp,md,km,mr,ft,bd,nrd]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":300,"wires":[["2f0e197b.f11f46"]]},{"id":"2f0e197b.f11f46","type":"http request","z":"be209dd0.d074e","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/v4/deployments/814b3d35-8c30-4d0f-b2a8-99dbcc6cf217/predictions","tls":"","persist":false,"proxy":"","authType":"","x":650,"y":220,"wires":[["b34463a4.7393e"]]},{"id":"b54d5b86.758858","type":"ui_form","z":"be209dd0.d074e","name":"","label":"","group":"546134e7.bcf18c","order":1,"width":0,"height":0,"options":[{"label":"Name","value":"n","type":"text","required":true,"rows":null},{"label":"Abtest","value":"at","type":"text","required":true,"rows":null},{"label":"Vehicle Type","value":"vt","type":"text","required":true,"rows":null},{"label":"Year Of Registration","value":"yor","type":"number","required":true,"rows":null},{"label":"Gearbox","value":"gb","type":"text","required":true,"rows":null},{"label":"Power","value":"pp","type":"number","required":true,"rows":null},{"label":"Model","value":"md","type":"text","required":true,"rows":null},{"label":"Kilometer","value":"km","type":"number","required":true,"rows":null},{"label":"Month Of Registration","value":"mr","type":"number","required":true,"rows":null},{"label":"Fuel Type","value":"ft","type":"text","required":true,"rows":null},{"label":"Brand","value":"bd","type":"text","required":true,"rows":null},{"label":"Damage","value":"nrd","type":"text","required":true,"rows":null}],"formValue":{"n":"","at":"","vt":"","yor":"","gb":"","pp":"","md":"","km":"","mr":"","ft":"","bd":"","nrd":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":240,"wires":[["1138d8fd.f1cbf7"]]},{"id":"d41a649c.debc68","type":"ui_text","z":"be209dd0.d074e","group":"546134e7.bcf18c","order":2,"width":0,"height":0,"name":"","label":"Price","format":"{{msg.payload}}","layout":"row-spread","x":910,"y":260,"wires":[]},{"id":"b34463a4.7393e","type":"function","z":"be209dd0.d074e","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":120,"wires":[["d41a649c.debc68","cbc85592.d3d458"]]}]